# LangChain core
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic
anthropic

# HuggingFace Integration
langchain-huggingface
transformers
huggingface-hub

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# environment variable management
python-dotenv

# Machine learning utilities
numpy
scikit-learn
pandas

# Additional utilities
email-validator  # for Pydantic email validation
grandalf  # for LangChain graph visualization
langchain-groq
pypdf
bs4

# YouTube chatbot RAG dependencies
youtube-transcript-api  # for fetching YouTube video transcripts
faiss-cpu  # for vector similarity search